@page "{sedeId:int?}"
@model ITSC.WebApp.Pages.Sedes.EditModel
@{
}

@if (@Model.S.id!=0)
{
  <h1 class="h1"> Editando: @Model.S.descripcion</h1>
}

else
{
 <h1 class="h1">Cargando Nueva Sede.</h1>
	         
}

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="@Model.S.id" />
        <section class="row">
            <div class="form-group col-md-8">
                <!--Descropcion-->
                <label asp-for="@Model.S.descripcion">Descripción:</label>
                <input class="form-control" asp-for="@Model.S.descripcion" />
                <span class="text-warning" asp-validation-for="@Model.S.descripcion"></span>
            </div>
            <!--Telefono-->
            <div class="fform-group col-md-8">
                <label asp-for="@Model.S.tel_caracteristica">Teléfono: caracteristica</label>
                <input class="form-control" asp-for="@Model.S.tel_caracteristica" />
                <span class="text-warning" asp-validation-for="@Model.S.tel_caracteristica"></span>
            </div>

            <div class="form-group col-md-8">
                <label asp-for="@Model.S.tel_nro">Teléfono: número</label>
                <input class="form-control" asp-for="@Model.S.tel_nro" />
                <span class="text-warning" asp-validation-for="@Model.S.tel_nro"></span>
            </div>

            <!--Correo-->
            <div class="form-group col-md-8">
                <label asp-for="@Model.S.email">Correo Electrónico</label>
                <input class="form-control" asp-for="@Model.S.email" />
                <span class="text-warning" asp-validation-for="@Model.S.email"></span>
            </div>
            <!--Direccion-->
            <div class="form-group col-md-8">
                <label asp-for="@Model.S.direccion_calle">Calle:</label>
                <input class="form-control" asp-for="@Model.S.direccion_calle" />
                <span class="text-warning" asp-validation-for="@Model.S.direccion_calle"></span>
            </div>

            <div class="form-group col-md-8">
                <label asp-for="@Model.S.direccion_nro">Número:</label>
                <input class="form-control" asp-for="@Model.S.direccion_nro" />
                <span class="text-warning" asp-validation-for="@Model.S.direccion_nro"></span>
            </div>

            <div class="form-group col-md-8">
                <label asp-for="@Model.S.direccion_piso">Piso:</label>
                <input class="form-control" asp-for="@Model.S.direccion_piso" />
                <span class="text-warning" asp-validation-for="@Model.S.direccion_piso"></span>
            </div>

            <div class="form-group col-md-8">
                <label asp-for="@Model.S.direccion_dpto">Depto.:</label>
                <input class="form-control" asp-for="@Model.S.direccion_dpto" />
                <span class="text-warning" asp-validation-for="@Model.S.direccion_dpto"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="@Model.S.direccion_barrio">Barrio:</label>
                <input class="form-control" asp-for="@Model.S.direccion_barrio" />
                <span class="text-warning" asp-validation-for="@Model.S.direccion_barrio"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="@Model.S.direccion_localidad">Localidad:</label>
                <input class="form-control" asp-for="@Model.S.direccion_localidad" />
                <span class="text-warning" asp-validation-for="@Model.S.direccion_localidad"></span>
            </div>
            <!--Dias-->
            <div class="form-group col-md-8">
                <label asp-for="@Model.S.dia_desde">Días de atención (desde):</label>
                <input class="form-control" asp-for="@Model.S.dia_desde" />
                <span class="text-warning" asp-validation-for="@Model.S.dia_desde"></span>
            </div>

            <div class="form-group col-md-8">
                <label asp-for="@Model.S.dia_hasta">Días de atención (hasta):</label>
                <input class="form-control" asp-for="@Model.S.dia_hasta" />
                <span class="text-warning" asp-validation-for="@Model.S.dia_hasta"></span>
            </div>
            <!--Horarios-->
            <div class="form-group col-md-8">
                <label asp-for="@Model.S.horario_desde">Horario de atención (desde):</label>
                <input class="form-control" asp-for="@Model.S.horario_desde" />
                <span class="text-warning" asp-validation-for="@Model.S.horario_desde"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="@Model.S.horario_hasta">Horario de atención (hasta):</label>
                <input class="form-control" asp-for="@Model.S.horario_hasta" />
                <span class="text-warning" asp-validation-for="@Model.S.horario_hasta"></span>
            </div>

        </section>

        <section class="row">
            <div class="offset-8 col-md-2">
                <a asp-page="./List" class="btn btn-outline-secondary form-control">Cancelar</a>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary form-control">Guardar</button>
            </div>
        </section>
    </form>
</div>