@page "{carreraId:int?}"
@model ITSC.WebApp.Pages.Carreras.EditModel
@{
}

@if (@Model.c.id != 0)
{
    <h1>Editando: @Model.c.descripcion.</h1>
}
else
{
    <h1>Cargando nueva carrera.</h1>
}

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="@Model.c.id" />
        <section class="row">
            <!--descripcion + plan-->
            <div class="form-group col-md-8">
                <label asp-for="@Model.c.descripcion">Carrera:</label>
                <input class="form-control" asp-for="@Model.c.descripcion" />
                <span asp-validation-for="@Model.c.descripcion" class="text-warning"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.c.plan">Plan:</label>
                <input class="form-control" asp-for="@Model.c.plan" />
                <span asp-validation-for="@Model.c.plan" class="text-warning"></span>

            </div>
        </section>
        <section class="row">
            <!--descripcion + plan-->
            <div class="form-group col-md-6">
                <label asp-for="@Model.c.plan_start_date">Vigencia desde:</label>
                <input class="form-control" asp-for="@Model.c.plan_start_date" />
                <span asp-validation-for="@Model.c.plan_start_date" class="text-warning"></span>

            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.c.plan_end_date">Vigencia hasta:</label>
                <input class="form-control" asp-for="@Model.c.plan_end_date" />
                <span asp-validation-for="@Model.c.plan_end_date" class="text-warning"></span>

            </div>
        </section>
        <section class="row">
            <div class="offset-8 col-md-2">
                <a asp-page="./List" class="btn btn-outline-secondary form-control">Cancelar</a>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary form-control">Guardar</button>
            </div>
        </section>
    </form>
</div>