@page 
@model ITSC.WebApp.Pages.Alumnos.ListModel

<div class="container-fluid">
    <form method="get">
        <div class="input-group">
            <input class="form-control" asp-for="strBusqueda" />
            <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-search"></i></button>
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <td>NOMBRE COMPLETO</td>
                <td>DNI</td>
                <td>ACCIONES</td>
            </tr>
        </thead>
        @foreach (var a in @Model.alumnos)
        {
    <tr>
        <td>@a.apellido, @a.nombre</td>
        <td>@a.dni</td>
        <td>
            <a asp-page=""><i class="bi bi-pencil-square"></i></a>
        </td>
        <td>
            <a asp-page=""><i class="bi bi-trash"></i></a>
        </td>
        <td>
            <a asp-page="./Detail"
               asp-route-alumnoId="@a.id"><i class="bi bi-box-arrow-in-right"></i></a>
        </td>
    </tr>
        }

    </table>
</div>